<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcei.android.permissions" >
    <application>
        <activity
            android:name="com.sourcei.android.permissions.org.sourcei.android.permissions.handlers.PermissionsHandler$Inner"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
    </application>
</manifest>
